*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#101820;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.calculator{
    width:420px;
    background:#152330;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

#display{
    width:100%;
    height:70px;
    border:none;
    outline:none;
    background:#d7f0cf;
    border-radius:12px;
    margin-bottom:15px;
    padding:15px;
    text-align:right;
    font-size:28px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
}

button{
    height:55px;
    border:none;
    border-radius:12px;
    background:#1f2d3a;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    transform:scale(1.05);
}

.operator{
    background:#5d6d7e;
}

.plus{
    background:#00bcd4;
}

.equal{
    background:#00bcd4;
}

.zero{
    grid-column:span 5;
}